{% load static %}

<section id="projects" style="margin-bottom: 8rem;">
    <div class="row mb-4">
        <h2 class="title">Proyectos</h2>
        <p>Estos son los distintos proyectos en los que trabajé y/o me encuentro trabajando actualmente.</p>
    </div>

    <!-- Proyecto -->
    <div class="row mb-3">
        {% for project in projects %}
        <div class="col-12 col-md-6 mb-4">
            <h4 class=""><i class="fas fa-briefcase me-2"></i>{{project.title}}</h4>
            <p>{{project.subtitle}}</p>
            <button class="btn btn-primary"
                    type="button"
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#offcanvasProject-{{project.id}}"
                    aria-controls="offcanvasProject" 
                    style="background-color: #2a4f9d;">
                    Ver más
            </button>
        </div>
        {% endfor %}
    </div>

    {% for project in projects %}
    <aside id="project-{{project.id}}">
        <div class="offcanvas offcanvas-end text-light" data-bs-scroll="false" tabindex="-1" id="offcanvasProject-{{project.id}}" aria-labelledby="offcanvasProject" data-bs-theme="dark">
            <div class="offcanvas-header">
                <h6 class="offcanvas-title" id="offcanvasProjectLabel-{{project.id}}">{{project.title}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <hr class="mt-0">
            <div class="offcanvas-body">
                <img class="img-fluid mb-3 d-block mx-auto" width="600px" src="{{project.image.url}}" alt="">
                <h2 class="offcanvas-title" id="offcanvasProjectLabel">{{project.title}}</h2>
                <p class="fw-lighter text-secondary">{{project.subtitle}}</p>
        
                <p class="mb-0">Tecnologías utilizadas</p>
        
                <div class="fs-3 mb-3">
                    <i class="fab fa-html5 me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HTML5"></i>
                    <i class="fab fa-css3-alt me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="CSS3"></i>
                    <i class="fab fa-bootstrap me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bootstrap 5"></i>
                    <i class="fab fa-js me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="JavaScript"></i>
                    <i class="devicon-django-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Django"></i>
                    <i class="devicon-mysql-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="MySQL"></i>
        
                </div>
        
                <h4>Descripción</h4>
        
                <p>{{project.description}}</p>
        
                <div class="col-12 d-flex flex-column">
                    
                    {% if project.url_deploy %}
                    <a href="{{project.url_deploy}}" target="_blank" class="general-link text-decoration-none link-light mb-2"><i class="fas fa-arrow-up-right-from-square me-2"></i>Deploy</a>
                    {% endif %}
                        
                    <a href="{{project.url_repo}}" target="_blank" class="general-link text-decoration-none link-light"><i class="fab fa-github me-2"></i>Repositorio</a>
                </div>
            </div>
        </div>
    </aside>
    {% endfor %}
</section>