{% extends 'core/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center rounded p-3" style= "background-color: #0b1b2b;">
                    <div>
                        <img class="mb-3 mb-lg-0 img-fluid" src="{% static 'assets/img/elias_pic1.png' %}" width=250px alt="">
                    </div> 

                    <div class="ms-lg-3 ms-0">
                        <h2>¡Bienvenido/a a mi blog!</h2>
                        <p style= "max-width: 500px;">Soy Elias, programador autodidacta desde hace 2 años. Me gusta hablar de mi viaje como developer, desarrollo personal, filosofía y por supuesto, desarrollo de software en general.</p>

                        <p style= "max-width: 500px;">Siendo que soy músico y me encantan los videojuegos, muy probablemente hable de estos temas también. Hay de todo un poco acá, así que si algo de lo que digo te gusta o te sirve, me sentiré más que complacido.</p>

                        <div class="fs-5">
                            <a href="https://twitter.com/esvdev" target="_blank"><i class="fab fa-twitter footer-icon text-light me-3 "></i></a>
                            <a href="https://www.linkedin.com/in/eliassvelazquez/" target="_blank"><i class="fab fa-linkedin footer-icon text-light me-3"></i></a> 
                            <a href="https://github.com/eliasvelazquezdev" target="_blank"><i class="fab fa-github text-light footer-icon me-5"></i></a>
                        </div>  
                    </div> 
                </div>
            </div>
        </div>

        
        <section class="row d-flex flex-lg-row flex-column-reverse justify-content-between">
            <div style="max-width: 1000px">
                {% for post in posts %}
                    <article class="col-12 d-flex flex-lg-row flex-column mb-5">
                        <div class="d-none d-lg-block text-center me-3" style="max-width: 50px">
                            {% filter upper %}
                              <h4>{{post.published|date:"j M y"}}</h4>
                            {% endfilter %}
                        </div>
                        <div style="max-width: 800px">
                             <a href="{% url 'post_id' id=post.id %}" class="text-decoration-none">
                                 <h4 style="color: #466EC3">{{post.title|title}}</h4>
                             </a>
                             <p>
                                {{post.content|truncatewords:50}}
                                <a href="{% url 'post_id' id=post.id %}" class="text-decoration-none link-opacity-50-hover" style="color: #466EC3">Leer más</a>
                             </p> 
                            <div class="d-lg-none mb-3">
                                {% filter upper %}
                                    <h6>{{post.published|date:"j M Y"}}</h6>
                                {% endfilter %}
                            </div>
                
                            <div class="d-flex">
                                {% for category in post.categories.all %}
                                <a href="" class="btn btn-link rounded-pill text-decoration-none me-3 mb-3 link-opacity-25-hover" style="color: #466EC3; border: 1px solid">#{{category.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>

            <aside class="rounded p-3 mx-auto mb-3" style= "background-color: #0b1b2b; max-width: 250px">
                
                <h5 class="mb-3"><i class="fas fa-filter-list" style="color: #496ba7;"></i>Filtrar por categoría</h5>
                
                {% for category in categories %}
                    
                    <a href="" class=" d-block text-decoration-none mb-3" style="color: #466EC3">#{{category.name}}</a>
                    
                {% endfor %}

            </aside>
        </section>
        

    </div>

    
{% endblock main_content %}
    