{% extends 'core/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class=" text-center rounded p-3" style= "background-color: #0b1b2b;">
                <div class="ms-lg-3 ms-0">
                    
                    {% if category.name == "General" %}
                        <h2>Estos son los posts de índole {{category.name|lower}} {{category.emoji|safe}}</h2>
                        
                    {% elif category.name == "Recursos" %}
                            <h2>Acá te comparto {{category.name|lower}} {{category.emoji|safe}}</h2>
   
                    {% else %}
                        <h2>Estos son los posts donde hablo de {{category.name|lower}} {{category.emoji|safe}}</h2>  

                    {% endif %}    
                </div> 
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div style="max-width: 1000px">
            {% for post in category.post_set.all %}
                <article class="col-12 d-flex flex-lg-row flex-column mb-5">
                    <div class="d-none d-lg-block text-center me-3" style="max-width: 50px">
                        {% filter upper %}
                          <h4>{{post.published|date:"j M y"}}</h4>
                        {% endfilter %}
                    </div>
                    <div style="max-width: 800px">
                         <a href="{% url 'post_view' post.id post.title|slugify %}" class="text-decoration-none">
                             <h4 style="color: #466EC3">{{post.title|title}}</h4>
                         </a>
                         <p>
                            {{post.content|truncatewords:50}}
                            <a href="{% url 'post_view' post.id post.title|slugify %}" class="text-decoration-none link-opacity-50-hover" style="color: #466EC3">Leer más</a>
                         </p> 
                        <div class="d-lg-none mb-3">
                            {% filter upper %}
                                <h6>{{post.published|date:"j M Y"}}</h6>
                            {% endfilter %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>

        <div class="row">
            <a href=" {% url 'blog' %} " class="text-decoration-none"><i class="fas fa-arrow-left me-2"></i>Volver</a>
        </div>
    </div>
{% endblock main_content %}
    