<section id="certificates">
    <!-- Columna 1 -->
    <div class="row mb-5">
        <h2 class="mb-3 title">Cursos y certificados</h2>
        <div class="col-6">
            <p class="mb-0 fw-lighter fst-italic">Enero 2023 - Abril 2023</p>
            <h4>Django Web Framework</h4>
            <h6>Coursera</h6>
            <a href="https://www.coursera.org/account/accomplishments/certificate/MSXJQ26VEVZP" target="_blank" class="general-link text-decoration-none link-light"><i class="fas fa-certificate me-2"></i>Ver certificado</a>
        </div>

        <div class="col-6">
            <p class="mb-0 fw-lighter fst-italic">Febrero 2023 - Marzo 2023</p>
            <h4>Desarrollo web en Python & Django</h4>
            <h6>Educacion IT</h6>
            <a href="https://api.educacionit.com/pdf/certificados/elias-velazquez-669615/61878" target="_blank" class="general-link text-decoration-none link-light"><i class="fas fa-certificate me-2"></i>Ver certificado</a>
        </div>
    </div>

    <!-- Columna 2 -->
    <div class="row mb-5">
        <div class="col-6">
            <p class="mb-0 fw-lighter fst-italic">Abril 2022 - Octubre 2022</p>
            <h4>Bootcamp Desarrollo web Full Stack</h4>
            <h6>Fundación Pescar - Educacion IT</h6>
            <a href="" target="_blank" class="general-link text-decoration-none link-light"><i class="fas fa-certificate me-2"></i>Ver certificado</a>
        </div>

        <div class="col-6">
            <p class="mb-0 fw-lighter fst-italic">Junio 2021 - Enero 2023</p>
            <h4>Curso Python 3</h4>
            <h6>Udemy</h6>
            <a href="https://drive.google.com/file/d/10OVu9F5WPJW5zyG4pfhomU0iq_SRTRIM/view?usp=share_link" target="_blank" class="general-link text-decoration-none link-light"><i class="fas fa-certificate me-2"></i>Ver certificado</a>
        </div>
    </div>
    <p class="fw-lighter">Te invito a ver el resto de mis certificados haciendo click <a href="https://drive.google.com/drive/folders/1BIe74yPZU3P4QvxfE1Ir1xEZRFm9V1k_?usp=share_link" target="_blank" class="general-link text-decoration-none link-light">aquí</a>.</p>

</section>
