<section class="mb-3">
    <div class="row text-center mb-4">
        <h4 class="mb-3 title">Competencias técnicas</h3>

        <div class="col-6">
            <h6 class="fst-italic">Frontend</h6>
            <div class="d-flex flex-column me-2">
                <div class="d-flex flex-column flex-lg-row mx-auto fs-4">
                    <div>
                        <i class="fab fa-html5 me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="HTML5">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">HTML5</span>
                    </div>
                    <div>
                        <i class="fab fa-css3-alt me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="CSS3">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">CSS3</span>
                    </div>
                    <div>
                        <i class="fab fa-bootstrap me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Bootstrap 5">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Bootstrap 5</span>
                    </div>
                    <div>
                        <i class="fab fa-js me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="JavaScript">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">JavaScript</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h6 class="fst-italic">Backend</h6>
            <div class="d-flex flex-column me-2">
                <div class="d-flex flex-column flex-lg-row mx-auto fs-4">
                    <div>
                        <i class="fab fa-python me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Python">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Python</span>
                    </div>
                    <div>
                        <i class="devicon-django-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Django">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Django</span>
                    </div>
                    <div>
                        <i class="devicon-mysql-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="MySql">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">MySql</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <h6 class="fst-italic">Herramientas</h6>
            <div class="d-flex flex-column me-2">
                <div class="d-flex flex-column flex-lg-row mx-auto fs-4">
                    <div>
                        <i class="fab fa-git me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Git">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Git</span>
                    </div>
                    <div>
                        <i class="fab fa-github me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="GitHub">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">GitHub</span>
                    </div>
                    <div>
                        <i class="fab fa-trello me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Trello">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Trello</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <h6 class="fst-italic">En la mira</h6>
            <div class="d-flex flex-column me-2">
                <div class="d-flex flex-column flex-lg-row mx-auto fs-4">
                    <div>
                        <i class="devicon-flask-original me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Flask">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Flask</span>
                    </div>
                    <div>
                        <i class="devicon-fastapi-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="FastAPI">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">FastAPI</span>
                    </div>
                    <div>
                        <i class="devicon-docker-plain me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Docker">
                        </i>
                        <span class="d-sm-block d-lg-none fs-6">Docker</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <h4 class="mb-3 title">Competencias blandas</h4>
        <div class="col-12">
            <ul class="list-group list-group-flush" >
                <li class="list-group-item bg-dark text-light">📅 Planificación y organización</li>
                <li class="list-group-item bg-dark text-light">💬 Comunicación efectiva</li>
                <li class="list-group-item bg-dark text-light">🤚 Transparencia</li>
                <li class="list-group-item bg-dark text-light">🤝 Trabajo en equipo</li>
                <li class="list-group-item bg-dark text-light">⌚ Puntualidad</li>
            </ul>
        </div>
    </div>
</section>