<section id="contact-aside" class="mb-3 px-3">
    <div class="row mb-3">
        <div class="col-12">
            <h4 class="text-center title">Contacto</h4>
            <p>¿Te interesa incorporarme a tu equipo o tan solo conocerme un poco más? Te invito a contactarme a través de mis redes sociales o el formulario en pantalla.</p>
        </div>
        <div class="col-12 text-center fs-1 d-flex justify-content-evenly">
            <a href="https://twitter.com/esvdev" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/eliassvelazquez/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <form action="https://formsubmit.co/evelazquez2604@gmail.com" method="post" id="form" class="mx-auto px-3" style="margin-bottom: 3rem;" >
        <input type="hidden" name="_template" value="table">
        <input type="hidden" name="_subject" value="Nuevo mensaje desde portfolio!">
        <input type="hidden" name="_next" value="./thanks.html">
        <!-- Campos nombre y asunto -->
        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 mt-3">
                <div class="col-sm-12 ">
                    <div class="form-floating mb-3">
                        <input type="text"
                        class="form-control text-light bg-dark"
                        id="floatingNameInput"
                        name="name"
                        aria-describedby="name-help"
                        placeholder="Nombre"
                        required>
                        <label for="floatingNameInput">Nombre</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 mt-3">
                <div class="col-sm-12">
                    <div class="form-floating mb-3">
                        <input type="text"
                        class="form-control text-light bg-dark"
                        id="floatingSubjectInput"
                        name="subject"
                        aria-describedby="subject-help"
                        placeholder="Asunto"
                        required>
                        <label for="floatingSubjectInput">Asunto</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Campo email -->
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="form-floating mb-3">
                    <input type="email"
                    class="form-control text-light bg-dark"
                    id="floatingEmail"
                    placeholder="E-mail"
                    aria-describedby="email-help"
                    name="email"
                    required>
                    <label for="floatingEmail">Correo electrónico</label>
                </div>
            </div>
        </div>
        <!-- Campo de texto -->
        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="form-floating mb-3">
                    <textarea
                    id="floatingTextArea"
                    class="form-control text-light bg-dark"
                    placeholder="Mensaje"
                    aria-describedby="msg-help"
                    name="message"
                    style= "height: 100px;"
                    required></textarea>
                    <label for="floatingTextArea">Mensaje</label>
                </div>
            </div>
        </div>
        <!-- Boton de envio -->
        <button type="submit" id="form-send" class="btn border-light text-light d-block mx-auto" style="background-color: #2a4f9d;">ENVIAR</button>
    </form>
</section>